body {
    background-color: rgb(239, 112, 86);
}

.ex1 {
    width: 400px;
    height: 300px;
    background-color: rgb(123, 246, 246);
}

.div1 {
    width: 680px;
    background-color: rgb(221, 93, 191);
}

.ex2 {
    width: 680px;
    background-color: rgb(104, 200, 8);
}