body {
    background-color: antiquewhite;
    font-family: sans-serif;
}

/* Exemplo de justify-content space-evenly: */
.ex1 {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-evenly;
    background-color: rgb(127, 225, 212);
}

.ex1 div {
    width: 100px;
    height: 100px;
    text-align: center;
    align-content: center;
    background-color: burlywood;
}

/* Exemplo de justify-content space-around: */
.ex2 {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-around;
    background-color: rgb(127, 225, 212);
}

.ex2 div {
    width: 100px;
    height: 100px;
    text-align: center;
    align-content: center;
    background-color: burlywood;
}

/* Exemplo de justify-content space-between: */
.ex3 {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
    background-color: rgb(127, 225, 212);
}

.ex3 div {
    width: 100px;
    height: 100px;
    text-align: center;
    align-content: center;
    background-color: burlywood;
}

/* Exemplo de justify-content: center: */
.ex4 {
    gap: 15px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    background-color: rgb(127, 225, 212);
}

.ex4 div {
    width: 100px;
    height: 100px;
    text-align: center;
    align-content: center;
    background-color: burlywood;
}

/* Exemplo de justify-content: start: */
.ex5 {
    gap: 15px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: start;
    background-color: rgb(127, 225, 212);
}

.ex5 div {
    width: 100px;
    height: 100px;
    text-align: center;
    align-content: center;
    background-color: burlywood;
}

/* Exemplo de justify-content: end: */
.ex6 {
    gap: 15px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: end;
    background-color: rgb(127, 225, 212);
}

.ex6 div {
    width: 100px;
    height: 100px;
    text-align: center;
    align-content: center;
    background-color: burlywood;
}
