body {
    background-color: bisque;
}

.ex1 {
    justify-content: center;
    display: flex;
    gap: 30px;
    background-color: aquamarine;
}

.ex1 div {
    width: 100px;
    height: 100px;
    background-color: aqua;
    align-content: center;
    text-align: center;
}

@media (max-width: 800px) {
    .ex1 {
        align-items: center;
        flex-direction: column;
    }
}