body {
    background-color: rgb(246, 147, 196);
    color: black;
    justify-items: center;
}

h1 {
    background-color: bisque;
    color: rgb(180, 54, 73);
    border: 6px solid rgb(21, 20, 21);
    opacity: 0.5;
}

h2 {
    background-color: lightpink;
    color: indianred;
    border: 4px solid indianred;
    opacity: 0.5;
}

p {
    background-color: deeppink;
    color: black;
    border: 3px solid black;
    opacity: 0.5;
}