    body {
        background-color: springgreen;
    }

    .ex1 {
        background-color: darkseagreen;
        width: 480px;
        margin: 0 auto;
        padding: 50px 100px 20px 10px;

        /* padding-top: 50PX;
        padding-right: 100px;
        padding-bottom: 20px;
        padding-left: 10px; */
    }