body {
    background-color: rgb(6, 60, 67);
    color: white;
}

/* Exemplos de justify-content: center */

.ex1 {
    gap: 30px;
    display: flex;
    justify-content: center;
    background-color: #654418;
}

.ex1 div {
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: #956d39;
}

/* Exemplos de justify-content: flex-start*/

.ex2 {
    gap: 30px;
    display: flex;
    justify-content: flex-start;
    background-color: #654418;
}

.ex2 div {
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: #956d39;
}

/* Exemplos de justify-content: flex-end*/

.ex3 {
    gap: 30px;
    display: flex;
    justify-content: flex-end;
    background-color: #654418;
}

.ex3 div {
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: #956d39;
}

/* Exemplos de justify-content: space-around*/

.ex4 {
    gap: 30px;
    display: flex;
    justify-content: space-around;
    background-color: #654418;
}

.ex4 div {
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: #956d39;
}

/* Exemplos de justify-content: space-between*/

.ex5 {
    gap: 30px;
    display: flex;
    justify-content: space-between;
    background-color: #654418;
}

.ex5 div {
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: #956d39;
}

/* Exemplos de justify-content: space-evenly*/

.ex6 {
    gap: 30px;
    display: flex;
    justify-content: space-evenly;
    background-color: #654418;
}

.ex6 div {
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: #956d39;
}

